  <div id="header">
            <a class="logo" href="https://www.daitrying.tech"><img src="/logo/axo.png" /><text
                    class="logo_text">daiTRYing</text>
            </a>
            <nav id="navBar">

                <ul class="menu-items">
                    <li class="menu-item {{ 'active' if 'buck' in page.url }}">
                        <a href="/">home</a>
                    </li>
                    {{page.url}}
                    <li class="menu-item {{ 'active' if '/tagPages' == page.url }}">
                        <a href="/tagPages/">posts</a>
                    </li>
                    <!-- <li class="menu-item">
                            <a href="/portfolio/my_porfolio/">portfolio</a>
                        </li> -->
                    <li class="menu-item">
                        <a href="#">life & music</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">get in touch</a>
                    </li>
                    <button class="darkModeButton" onclick="toggle_theme()">
                        <li class="darkModeBg" style="border-radius: 20px;">
                            <img src="/logo/moon.png" class="darkModeIcon">
                        </li>
                    </button>
                </ul>
            </nav>
        </div>
        <hr>