<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="/js/active_page.js"></script>
        <link rel="stylesheet" href="/css/index_style.css" />
        <title>daitrying</title>
    </head>
    <body onload="onLoadHandler()">
        <header>
            <!-- <div class="hl"></div> -->
            <a href="https://www.daitrying.tech"><img src="/logo/axo.png" width="90" height="90" /></a>
            <text id="logo_text">DAITRYING</text>
            
            <nav id="primary_nav_wrap">
                <ul class="menu-items">
                    <li class="menu-item active"><a href="#">home</a></li>
                    <li class="menu-item"><a href="#">blog posts</a></li>
                    <li class="menu-item"><a href="#">portfolio</a></li>
                    <li class="menu-item"><a href="#">get in touch</a></li>
                </ul>
            </nav>
            <!-- <div class="hl"></div> -->
        </header>
        <div class="menu">
            <ul>
                <li>Hello</li>
            </ul>
        </div>
        <div class="blog_post">
            <img src= "{{titleBgImage}}" height="40%" width="100%">
        <h1>
            {{pageTitle}}
        </h1>
        {{content}}
        </div>
    </body>
</html>