<!DOCTYPE html>
<html>

<head>
<script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101316278);</script>
<script async src="//static.getclicky.com/js"></script>


    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <script src="/js/active_page.js" type="text/javascript"></script>
    
   
    <link href="/css/index_style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source Sans Pro&display=swap" rel="stylesheet" media="print"
        onload="this.media='all'" />
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" media="print"
        onload="this.media='all'" />
    <link href="https://fonts.googleapis.com/css?family=Open Sans&display=swap" rel="stylesheet" media="print"
        onload="this.media='all'" />
    <title>daitrying</title>
</head>

<body onload="onLoadHandler()">
    <section id="top">
      {% include header.njk %}
    </section>
    <div class="quoteGenerator">
        <div class="quoteTitle">Random Carly Rae Jepsen Lyrics Generator</div>
        <div class="quoteText">
            <text id="quote1"></text><br>
            <text id="quote2"></text>
        </div>
    </div>
    
    {{content}}
 
    <div class="footerPosition">
        <div class="footer">
            Made & Designed by 
            <a class="link">Daiyaan Ahmed</a>
            </div>
    </div>
</body>
</html>
