---
layout: layout.liquid
---

<div class="indexTitlePosition">
    <text id="mainIndexTitle">
        {{indexTitle}}
    </text>
</div>
<div class="indexSubtitlePosition">
    <div class="indexSubtitle">
        {{subtitle}}
    </div>
</div>
<div class="center_blog_post">
    <div class="mainPost date">
        <h3 class="title specialTitle">Recent Posts</h3>
        <div class="latest_posts">
            {{content}}
        </div>
    </div>
</div>
