---
layout: layout.liquid
---
<div class="titlePosition">
    <text id="mainTitle">
        {{pageTitle}}
    </text>
</div>
<div class="center_blog_post">

    <div class="mainPost date">
        
        <h3 class="title">{{postdate}}</h3>
        <p class="description">{{content}}</p>

    </div>
</div>
